@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {

    /* Navbar layout */
    .player-photo {
        @apply object-cover rounded-full w-8 h-8 border border-cyan-50;
    }

    .user-photo {
        @apply object-cover rounded-full w-20 h-20 border border-cyan-50;
    }

    header {
        @apply h-15 w-full;

    }

    .page-info {
        @apply relative text-center font-semibold rounded-md hover:text-gray-500 shadow-md hover:transition-all duration-300 hover:transform hover:scale-105 p-1 text-xl mb-5;
    }

    .profile-name {
        @apply font-semibold text-lg inline-block;
        @apply flex justify-center items-center py-0 px-7 gap-2 mr-20;
        @apply border rounded-md shadow-md border-gray-600;
    }

    .navbar-list {
        @apply flex justify-center w-full p-1 rounded-xl bg-white/20 backdrop-blur-md shadow-md relative h-full;
    }

    .dropdown-profile {
        @apply flex justify-center items-center absolute right-10 w-12 h-12 hover:cursor-pointer p-1;
    }

    .navbar-list a {
        @apply mr-6 px-4 py-2 rounded-lg text-white bg-blue-600 hover:bg-blue-700 shadow-md transition;
    }

    .navbar-buttons {
        @apply flex justify-center items-center;
    }

    /* End Navbar layout */

    /* Formulários de usuários */
    .title-container {
        @apply text-center text-2xl font-bold mb-10 hover:text-gray-500 hover:transition-all duration-300 hover:transform hover:scale-105;
    }

    .title-page {
        @apply flex flex-col justify-center items-center mt-10;
    }

    .name-profile {
        @apply text-4xl font-bold;
    }

    .label-profile {
        @apply block text-gray-700 text-sm font-bold mb-2;
    }

    .select-profile {
        @apply shadow-md appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none;
    }

    .input-profile {
        @apply shadow-md appearance-none border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight outline-none disabled:bg-gray-200 resize-none;
    }

    .login-container {
        @apply flex flex-col mx-auto p-20 border border-gray-300 rounded-md shadow-md max-w-md w-full mb-30 bg-white/20 backdrop-blur-md;
    }

    .profile-form {
        @apply bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4;
    }

    .form-footer {
        @apply flex flex-col justify-center items-center mx-auto;
    }

    .profile-grid {
        @apply grid grid-cols-1 md:grid-cols-2 gap-6;
    }


    .description-container {
        @apply text-center mb-4 text-lg text-gray-500;
    }

    .forget-password {
        @apply text-center mt-3;

    }

    /* Fim dos formulários de usuários */

    /* Alertas */
    .success-container {
        @apply text-green-500 text-sm mb-4 bg-green-100 p-4 rounded-md hover:bg-green-200 text-center;
    }

    .error-container {
        @apply text-red-500 text-sm mb-4 bg-red-100 p-4 rounded-md hover:bg-red-200 text-center;
    }

    /* Fim dos Alertas */

    /* Estilos padrões para formulários */
    form {
        @apply flex flex-col gap-3;
    }

    input {
        @apply border border-gray-300 rounded-md p-2 hover:border-gray-500 hover:transition-all duration-300 hover:transform hover:scale-105 focus:outline-none;
    }

    body {
        @apply bg-gray-100 m-0 bg-cover;
        overflow-x: hidden;
        background-image: url('../images/bg-football.jpg');
        background-repeat: no-repeat;
    }

    img {
        @apply w-full h-full object-cover;
    }

    input[type="file"] {
        @apply hidden;
    }

    button,
    a {
        @apply font-bold py-2 px-4 rounded cursor-pointer transition-all duration-300 hover:scale-105;
        @apply bg-blue-600 hover:bg-blue-700 text-white shadow-md;

    }

    /*Fim dos estilos padrões para formulários*/

    /* Estilos para tabelas */
    .table-container {
        @apply flex flex-col justify-center items-center min-h-screen p-6;
    }

    table {
        @apply w-full border border-gray-200 shadow-md rounded-lg overflow-hidden;
    }

    thead {
        @apply bg-blue-600 text-white;
    }

    thead th {
        @apply px-4 py-3 text-sm font-semibold tracking-wide text-center;
    }

    tbody tr {
        @apply transition-colors duration-200 hover:bg-gray-100;
    }

    tbody td {
        @apply px-4 py-2 text-sm text-gray-700;
    }

    th,
    td {
        @apply border border-gray-200;
    }

    .actions {
        @apply p-5;
    }

    tbody {
        @apply bg-white text-center;
    }

    .registerButton {
        @apply mt-4 self-end;
    }

    /* Fim dos estilos para tabelas */

    .container {
        @apply flex flex-col justify-center items-center min-w-screen min-h-screen;
    }

    .container-teams {
        @apply w-4/5 mx-auto;
    }



}